.login-form{
    display: flex;
    flex-flow: column nowrap;
    flex:1;
    .form-group{
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 1.5rem;
        .label{
            margin-bottom: 0.5rem;
        }
    }
}